<mwl-calendar-week-view-header
    [days]="days"
    [locale]="locale">
</mwl-calendar-week-view-header>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="monEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="tueEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="wedEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="thuEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="friEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="satEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>
<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="sunEvents"
    [refresh]="refresh">
</mwl-calendar-day-view>

