<div class="cal-week-view" #weekViewContainer>
    <mwl-calendar-week-view-header
        [days]="days"
        [locale]="locale">
    </mwl-calendar-week-view-header>
    <mwl-calendar-day-view
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [dayStartHour]="dayStart"
        [dayEndHour]="dayEnd">
    </mwl-calendar-day-view>
</div>
<!--
<table style="width: 100%; border: 0; background-color: white;" cellpadding="0" cellspacing="0">
    <tr>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
        <td style="white-space: nowrap;">
            <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStart"
                [dayEndHour]="dayEnd">
            </mwl-calendar-day-view>
        </td>
    </tr>
</table>
-->
