work<div style="position: absolute; top: 0%; left: 0%; width: 100%">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <img src="../../images/CATie_logo.png" style="position: absolute; width: 5%; height: 80%; left: 0%">
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown clrMenuPosition="bottom-right" style="position: absolute; right: 2%">
                <button type="button" class="close" aria-label="Close" style="position: absolute; right: 2%" clrDropdownToggle>
                    <span>
                    <clr-icon shape="user" style="position: absolute; right:100%">  </clr-icon>
                        {{ firstName }} {{ lastName }}  (arc13)
                    </span>
                    <clr-icon shape="caret down">  </clr-icon>
                  </button>
                <clr-dropdown-menu style="position: absolute; right: 4%" >
                    <a href="#" [routerLink]="['../account']" routerLinkActive="active" clrDropdownItem>My Account</a>
                    <a href="#" [routerLink]="['../settings']" routerLinkActive="active" clrDropdownItem>Settings</a>
                    <a href="#" (click)="logout()" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>

    <nav class="sub-nav" [clr-nav-level]="1">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../home']" routerLinkActive="active">Dashboard</a>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../cal']" routerLinkActive="active">Planner</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../askcatie']" routerLinkActive="active">AskCatie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../courses']" routerLinkActive="active">Courses</a>
            </li>
            <li class="nav-item" *ngIf="isStaff">
                <a class="nav-link" href="#" [routerLink]="['../../../assignments']" routerLinkActive="active">Assignments</a>
            </li>
            <li class="nav-item" *ngIf="!isStaff">
                <a class="nav-link" href="#" [routerLink]="['../../../grades']" routerLinkActive="active">Submissions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['../doccalendar']" routerLinkActive="active">Doc Calendar</a>
            </li>
        </ul>
    </nav>
</div>

<h3 style="position: absolute; top: 10%; left: 2%; color: #0F3D6E; font-weight: bold">My Calendar</h3>
<hr style="position: absolute; top: 15%; left: 2%; width: 8%; height: 0.28%; background-color: #4390BC; border: none">
<button class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSchZ0K-uR7NebADFE4za5_Tpc8YEpBHfudRmnFddhdxV0F0yQ/viewform" style="position: absolute; top: 12%; left: 32%; width: 10%" height="500">Create Event</button>
<div style="position: absolute; top: 17%; left: 2%; width: 40%; height: 43%; background-color: #6ECCCA; text-align: center; color: white; font-weight: bold; font-size: 72px;">
<!-- <iframe src="https://outlook.office365.com/owa/calendar/1b70bf06b75b4147af0f630848f53f60@imperial.ac.uk/f6e5118782b24b0a92aa5815fe1a650810441968668600221940/calendar.html -->
<!-- <iframe src="https://outlook.office365.com/owa/calendar/1b70bf06b75b4147af0f630848f53f60@imperial.ac.uk/f6e5118782b24b0a92aa5815fe1a650810441968668600221940/calendar.html" style="border: 0" left="0%" top="17%" height="100%" width="100%" frameborder="0" scrolling="no"></iframe> -->
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=andra.bogoi%40gmail.com&amp;color=%2329527A&amp;ctz=Europe%2FLondon" style="border: 0" left="0%" top="17%" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>
<hr style="position: absolute; top: 84%; left: 0%; width: 100%; height: 10%; background-color: white; border: none">
</div>


<h3 style="position: absolute; top: 10%; left: 71%; color: #0F3D6E; font-weight: bold">Notifications</h3>
<hr style="position: absolute; top: 15%; left: 71%; width: 9.63%; height: 0.28%; background-color: #4390BC; border: none">

<div style="position: absolute; top: 16.3%; left: 71%; width: 98%" *ngIf="!isStaff">

    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white" *ngFor="let not of notification | slice:0:7">
      <clr-icon *ngIf="not.category === 'done'" shape="tasks" style="position: absolute; top: 25%"></clr-icon>
      <clr-icon *ngIf="not.category === 'note'" shape="note" style="position: absolute; top: 25%"></clr-icon>
      <clr-icon *ngIf="not.category === 'discussion'" shape="talk-bubbles" style="position: absolute; top: 25%"></clr-icon>
      <clr-icon *ngIf="not.category === 'upload-success'" shape="upload-cloud" style="position: absolute; top: 25%"></clr-icon>
      <clr-icon *ngIf="not.category === 'upload-failure'" shape="times-circle" style="position: absolute; top: 25%"></clr-icon>
      <clr-icon *ngIf="not.category === 'clock'" shape="clock" style="position: absolute; top: 25%"></clr-icon>

      <div class="alert-item">
      <span *ngIf="not.page === 'Course'">
          <!-- <a href="http://localhost:4200/courses" style="color:white">{{not.course}} - {{not.message}} - Posted on {{not.date | date:'mediumDate'}} ({{not.page}})</a> -->
          <a href="#" [routerLink]="['../courses']" routerLinkActive="active" style="color:white">{{not.course}} - {{not.message}}</a>
      </span>
      <span *ngIf="not.page === 'Assignment'">
          <a href="#" [routerLink]="['../assignments']" routerLinkActive="active" style="color:white">{{not.course}} - {{not.message}}</a>
      </span>
      <span *ngIf="not.page === 'Grade'">
          <a href="#" [routerLink]="['../grades']" routerLinkActive="active" style="color:white">{{not.course}} - {{not.message}}</a>
      </span>
      <span *ngIf="not.page === 'Discussion'">
          <a href="#" [routerLink]="['../askari']" routerLinkActive="active" style="color:white">{{not.course}} - {{not.message}}</a>
      </span>
      </div>

      <button type="button" (click)="deleteNots(not)" class="close" aria-label="Close">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>

    </div>
    <!--<a href="#" [routerLink]="['../notification']" routerLinkActive="active">View All</a>-->
</div>

<div style="position: absolute; top: 16.3%; left: 71%; width: 98%" *ngIf="isStaff">

    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <clr-icon shape="tasks" style="position: absolute; top: 25%"></clr-icon>

        <div class="alert-item">
        <span>
            Need to release grades for 345
        </span>
        </div>

        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <clr-icon shape="note" style="position: absolute; top: 25%"></clr-icon>

        <div class="alert-item">
        <span>
            New to release tutorial answers for 346
        </span>
        </div>

        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <clr-icon shape="talk-bubbles" style="position: absolute; top: 25%"></clr-icon>

        <div class="alert-item">
        <span>
            3 new AskCATie Questions
        </span>
        </div>

        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>

    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <clr-icon shape="upload-cloud" style="position: absolute; top: 25%"></clr-icon>

        <div class="alert-item">
        <span>
            Need to return coursework for 367
        </span>
        </div>

        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
</div>

<!--
<h3 style="position: absolute; top: 10%; left: 33%; color: #6ECCCA; font-weight: bold">TODO List</h3>

<div class="row" style="position: absolute; top: 14.3%; left: 33%; width: 60%">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-block" style="background-color: transparent">
                <ul class="list">
                    <clr-checkbox>Sign up for Horizons</clr-checkbox>
                    <clr-checkbox>Form a group for WebApps</clr-checkbox>
                    <clr-checkbox>Buy new pens</clr-checkbox>
                    <clr-checkbox>Buy flight tickets</clr-checkbox>
                    <clr-checkbox>Finish Q2 of the Statistics coursework</clr-checkbox>
                    <clr-checkbox>Call agency for house viewing</clr-checkbox>
                    <clr-checkbox>Ask John about deployment</clr-checkbox>
                    <clr-checkbox>Finish Q4 of the CodeGen coursework</clr-checkbox>
                    <clr-checkbox>Read page 64 of the manual</clr-checkbox>
                </ul>
            </div>
        </div>
    </div>
</div>
-->

<h3 style="position: absolute; top: 10%; left: 43%; color: #0F3D6E; font-weight: bold">My Day</h3>
<hr style="position: absolute; top: 15%; left: 43%; width: 7%; height: 0.28%; background-color: #4390BC; border: none">

<div style="position: absolute; top: 17%; left: 43%; width: 25%; height: 43%; background-color: #6ECCCA; text-align: center; color: white; font-weight: bold; font-size: 72px;">
<!-- <iframe src="https://outlook.office365.com/owa/calendar/1b70bf06b75b4147af0f630848f53f60@imperial.ac.uk/f6e5118782b24b0a92aa5815fe1a650810441968668600221940/calendar.html -->
<!-- <iframe src="https://outlook.office365.com/owa/calendar/1b70bf06b75b4147af0f630848f53f60@imperial.ac.uk/f6e5118782b24b0a92aa5815fe1a650810441968668600221940/calendar.html" style="border: 0" left="0%" top="17%" height="100%" width="100%" frameborder="0" scrolling="no"></iframe> -->
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=andra.bogoi%40gmail.com&amp;color=%23182C57&amp;ctz=Europe%2FLondon" style="border: 0" left="0%" top="17%" height="100%" width="100%" frameborder="0" scrolling="no"></iframe>
<hr style="position: absolute; top: 84%; left: 0%; width: 100%; height: 10%; background-color: white; border: none">
</div>


<!-- <clr-datagrid style="position: absolute; top: 14.3%; left: 35.25%; width: 33.25%" *ngIf="!isStaff">

    <clr-dg-column style="background-color: #0F3D6E">
        <div style="color: white;">TIME OF DAY </div>
    </clr-dg-column>
    <clr-dg-column style="background-color: #0F3D6E">
        <div style="color: white;">ACTIVITY</div>
    </clr-dg-column>

    <clr-dg-row>
        <clr-dg-cell>08:00 - 10:00</clr-dg-cell>
        <clr-dg-cell>Gym</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>10:00 - 12:00</clr-dg-cell>
        <clr-dg-cell>Robotics Lecture</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>13:00 - 15:00</clr-dg-cell>
        <clr-dg-cell>Group Project Meeting</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>15:00 - 16:00</clr-dg-cell>
        <clr-dg-cell>M2PM2 Lecture</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>16:00 - 17:00</clr-dg-cell>
        <clr-dg-cell>Skype Interview</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>17:00 - 18:00</clr-dg-cell>
        <clr-dg-cell>Individual Project Meeting</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>19:00 - 21:00</clr-dg-cell>
        <clr-dg-cell>Revision Type Systems</clr-dg-cell>
    </clr-dg-row>

</clr-datagrid> -->


<!-- ==<div class="twitterborder" style="position: absolute; top: 59.7%; left: 2%; color: #0F3D6E; font-weight: bold">
    <div class="table">
        <div class="table-cell">
<a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by @twitterapi</a> -->
<!--
<clr-datagrid style="position: absolute; top: 14.3%; left: 35.25%; width: 33.25%" *ngIf="isStaff">
    <clr-dg-column style="background-color: #0F3D6E">
        <div style="color: white;">TIME OF DAY </div>
    </clr-dg-column>
    <clr-dg-column style="background-color: #0F3D6E">
        <div style="color: white;">ACTIVITY</div>
    </clr-dg-column>

    <clr-dg-row>
        <clr-dg-cell>08:00 - 10:00</clr-dg-cell>
        <clr-dg-cell>Gym</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>10:00 - 12:00</clr-dg-cell>
        <clr-dg-cell>Robotics Lecture</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>13:00 - 15:00</clr-dg-cell>
        <clr-dg-cell>Group Project Meeting</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>15:00 - 16:00</clr-dg-cell>
        <clr-dg-cell>Individual Project Meeting</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>16:00 - 17:00</clr-dg-cell>
        <clr-dg-cell>Skype Interview with PhD Student</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>17:00 - 18:00</clr-dg-cell>
        <clr-dg-cell>Robotics Lecture Preparation</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>19:00 - 20:00</clr-dg-cell>
        <clr-dg-cell>Dinner</clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>
 -->
<!-- <h3 style="position: absolute; top: 59.7%; left: 2%; color: #0F3D6E; font-weight: bold"> Class Twitter Feed:</h3>
<hr style="position: absolute; top: 65%; left: 2%; width: 14%; height: 0.28%; background-color: #4390BC; border: none">

<ul><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 520px; height: 320px; padding: 0px; border: none; max-width: 687px; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="592991135984918528" title="Twitter Timeline"></iframe>
<script>
    !function(d,s,id){ var js, fjs=d.getElementsByTagName(s)[0],
                       p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){ js=d.createElement(s);
                                         js.id=id;
                                         js.src=p+"://platform.twitter.com/widgets.js";
                                         fjs.parentNode.insertBefore(js,fjs);}
    } (document,"script","twitter-wjs");
</script></ul>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>

<a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet" style="position: absolute; top: 59.7%; left: 2%; color: #0F3D6E; font-weight: bold" data-lang="en"><p lang="en" dir="ltr">Want to pitch your innovative idea and meet new collaborators? Pitch 60 is the perfect opportunity!<br><br>**GUEST SPEAKER** Dhiraj Mukherjee, co-founder of Shazam, will be speaking on 15th of January.<br><br>Book your tickets now! <a href="https://t.co/LiS7qhqAam">https://t.co/LiS7qhqAam</a></p>&mdash; IC Enterprise Lab (@ICEnterpriseLab) <a href="https://twitter.com/ICEnterpriseLab/status/950302537055432705?ref_src=twsrc%5Etfw">January 8, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<!-- <a class="twitter-timeline"  href="https://twitter.com/hashtag/MachineLearning" data-widget-id="950684154919833600" style="position: absolute; top: 59.7%; left: 2%">#MachineLearning Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

	<!-- AddEvent button -->
	<!-- <div title="Add to Calendar" class="addeventatc" style="position: absolute; top: 59.7%; left: 2%">
	    Add to Calendar
		<span class="icon"></span>
	    <span class="start">06/18/2015 09:00 AM</span>
	    <span class="end">06/18/2015 11:00 AM</span>
	    <span class="timezone">Europe/Paris</span>
	    <span class="title">Summary of the event</span>
	    <span class="description">Description of the event</span>
	    <span class="location">Location of the event</span>
	    <span class="organizer">Organizer</span>
	    <span class="organizer_email">Organizer e-mail</span>
	    <span class="all_day_event">false</span>
	    <span class="date_format">MM/DD/YYYY</span>
	</div> -->

<h3 style="position: absolute; top: 59.7%; left: 2%; color: #0F3D6E; font-weight: bold">Twitter</h3>
<hr style="position: absolute; top: 65%; left: 2%; width: 10%; height: 0.28%; background-color: #4390BC; border: none">


<div *ngIf="isStaff">
<h3 style="position: absolute; top: 59.7%; left: 43%; color: #0F3D6E; font-weight: bold">Favourites</h3>
<hr style="position: absolute; top: 65%; left: 43%; width: 10%; height: 0.28%; background-color: #4390BC; border: none">

    <div style="position: absolute; top: 66%; left: 43%; width: 98%">
    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <div class="alert-item">
            <span>
                332 - Advanced Computer Architecture
            </span>
        <button class="btn btn-primary" (click)="showStaffModal()">+ LEC</button>
        <button class="btn btn-primary" (click)="showStaffModal()">+ TUT</button>
        </div>
    </div>

    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <div class="alert-item">
            <span>
                221 - Compilers
            </span>
        <button class="btn btn-primary" (click)="showStaffModal()">+ LEC</button>
        <button class="btn btn-primary" (click)="showStaffModal()">+ TUT</button>
        </div>
    </div>


    <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
        <div class="alert-item">
        <span>
            Continue Marking CW Compilers
        </span>
        </div>
    </div>

    </div>
</div>

<h3 style="position: absolute; top: 59.7%; left: 71%; color: #0F3D6E; font-weight: bold">External Resources</h3>
<hr style="position: absolute; top: 65%; left: 71%; width: 15%; height: 0.28%; background-color: #4390BC; border: none">

<div style="position: absolute; top: 66%; left: 71%; width: 98%">

  <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
    <div class="item">
      <a class="link" style = "color: white; font-size:100%; align: centre" href="#" [routerLink]="['../gradingschema']" routerLinkActive="active">Departamental Grading Schema</a>
    </div>
  </div>

  <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
    <div class="item">
      <a class="link" style = "color: white; font-size:100%; align: centre" href="https://cate.doc.ic.ac.uk/student.cgi?key=2017:ab6015">Student Individual Record</a>
    </div>
  </div>

  <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
    <div class="item">
      <a class="link" style = "color: white; font-size:100%; align: centre" href="https://cate.doc.ic.ac.uk/projects/index.cgi?key=2017:ab6015">Projects Portal</a>
    </div>
  </div>

  <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
    <div class="item">
      <a class="link" style = "color: white; font-size:100%; align: centre" href="https://dbc.doc.ic.ac.uk/internalreg/subscription.cgi?key=2017:none:ab6015">Modules Subscription</a>
    </div>
  </div>

  <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
    <div class="item">
      <a class="link" style = "color: white; font-size:100%; align: centre" href="https://exams.doc.ic.ac.uk/">Exams Past Papers</a>
    </div>
  </div>

  <div class="alert alert-success" style="width: 27%; background-color: #0F3D6E; border-color: #0F3D6E; color: white">
    <div class="item">
      <a class="link" style = "color: white; font-size:100%; align: centre" href="https://teachdb.doc.ic.ac.uk/db/">Teaching Database</a>
    </div>
  </div>
</div>
