<p></p>
<div class="ui container">
    <div class="ui six item menu">
        <a class="item" (click)="sidebar.show({transition: 'overlay'})"> <i class="sidebar icon"></i>Menu</a>
        <a [routerLink]="['/']" class="item">DashBoard</a>
        <a [routerLink]="['/reviews']" class="item">My Account</a>
        <a [routerLink]="['/']" class="item">Settings</a>
        <a [routerLink]="['/']" class="item">Log Out</a>
        <a [routerLink]="['/smartPlanner']" class="item">Smart Planner</a>
    </div>
    <router-outlet></router-outlet>
</div>

<sm-sidebar class="ui sidebar vertical menu" #sidebar>
    <a [routerLink]="['/smartPlanner']" class="item" (click)="sidebar.hide({transition: 'overlay'})"> Smart Planner </a>
    <a class="item"> Ask ARi </a>
    <a class="item"> Courses </a>
    <a class="item"> Assignments </a>
    <a class="item"> Grades </a>
    <a class="item"> Notice Board </a>
    <a class="item"> External Sites </a>
</sm-sidebar>